body {
	margin:0 auto;
	padding:0 auto;
	font-family:"Wood Stamp";
	overflow:hidden;
}

.title {
width:1920px;
height:300px;
display: grid;
grid-template-columns:2;
grid-template-rows: 3;
grid-gap: 10px;
}

.slash {
grid-column:1/3;
grid-row:3;
width:1920px;
height:200px;
background-image:url("../../GFX/Logo.png");
background-size:contain;
background-repeat: no-repeat;
background-position:center;
}
.texttitle {
	color:white;
  grid-column: 1/3;
  grid-row:1;
  width:900px;
  height:130px;
  line-height:120px;
  margin:0 auto;
  margin-top:50px;
  font-size: 120px;
  background-color: #ebbe1a;
  text-align:center;
    text-shadow: 8px 8px 12px rgba(0,0,0,0.5);
}

.subtitle {
  grid-column: 1/3;
  grid-row:2;
  font-size: 50px;
  font-weight:300;
  color:#ebbe1a;
  text-align:center;
}

.partner{
	width:1920px;
	position:absolute;
	top:900px;
	display:grid;
	grid-template-columns:2;
	grid-template-rows:1;
}

.partners{
	width:auto;
	height:100px;
	margin:20px;
	background-size:contain;
	background-repeat:no-repeat;
}

.partner1{
	background-position:right;
	float:right;
	grid-column: 1;
	background-image:url("../../GFX/Partners/Ubisoft.png");
}

.partner2{
	grid-column: 2;
	background-image:url("../../GFX/Partners/CdG.png");
}

.layoutban {
margin:0 auto;
padding-top:160px;
width:1920px;
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 19px;
  padding-left:35px;
}

.layout {
margin:0 auto;
width:200px;
height:400px;
display:grid;
grid-template-columns:auto;
grid-template-rows:300px auto;
grid-gap:5px;
transition: ease opacity 0.5s;
}

.layout.off {
  opacity: 0;
}

.borderrectangle {
position:relative;
width:20px;
grid-column:1;
margin-left:13px;
border: 2px solid #FFF;
}

.progressbar {
position: absolute;
bottom: 0;
width:100%;
height:100%;
}

.progressban {
position: absolute;
bottom: 0;
width:100%;
height:100%;
}

.progressfillbar {
position: absolute;
bottom: 0;
width:20px;
height:0%;
bottom:0;
background-color:#FFF;
}

.operatorbg {
grid-column:1;
width:50px;
height:50px;
background-size:contain;
background-repeat:none;
}
#operatorlayout {
height:100%;
background-size:cover;
background-position:center;
align-content: end;
padding-bottom:10px;
background-size:contain;
background-repeat:no-repeat;
background-position:center;
}

.op-name {
grid-column:1/3;
grid-row:1;
margin-right:10px;
color:#FFF;
font-size:40px;
text-align:right;
text-shadow: 3px 3px 6px black;
}

.op-ban {
grid-column:1/3;
grid-row:3;
color:#ebbe1a;
text-align:center;
font-size:28px;
text-shadow: 2px 2px 4px black;
}

.op-pick {
grid-column:1/3;
grid-row:3;
color:red;
font-size:28px;
text-align:center;
text-shadow: 2px 2px 4px black;
}


@keyframes percentageup {
	0% {height:0%; background-color:#FFF;}
	30% {background-color:#FFF;}
	100% {height:100%;background-color:#ebbe1a;}
}

@keyframes percentagebanup {
	0% {height:0%; background-color:#FFF;}
	30% {background-color:#FFF;}
	100% {height:100%;background-color:red;}
}

@keyframes namesanim {
  0% { clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); }
  100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
}
