body {
	margin:0 auto;
	padding:0 auto;
	font-family:"Wood Stamp";
}

.grid-container {
opacity:0;
display: grid;
grid-template-columns: 860px 200px 860px;
grid-template-rows: 65px auto;
animation: whole 2s 2s forwards;
}

.gradientleft {
	background-color: #ebbe1a;
	clip-path: polygon(0% 0, 92.44% 0%, 100% 100%, 0% 100%);
}

.itemtitle {
width:250px;
height:65px;
color:white;
line-height:65px;
font-size: 45px;
padding-left:30px;
background-color:black;
clip-path: polygon(0% 0%, 74% 0%, 100% 100%, 0% 100%);
float:left;
}

.logocompetition {
	width:100%;
	grid-row:1/2;
	height:50px;
background-image:url(../../GFX/Logo.png);
background-size:contain;
background-position:center;
background-repeat:no-repeat;

}

.gradientright {
	background-color: #ebbe1a;
	clip-path: polygon(7.56% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.itemtextorange {
	float:left;
}

.bans {
height:65px;
width:65px;
background-repeat: no-repeat;
background-size:60px 60px;
background-position: center;
}

.banatkblue {
float:right;
animation: greyscale 2s forwards;
/* animation-delay:4s; */
}

.bandefblue {
float:right;
animation: greyscale 2s forwards;
margin-right:10px;
/* animation-delay:4s; */
}

.banatkorange {
float:left;
animation: greyscale 2s forwards;
margin-left:10px;
}

.bandeforange {
float:left;
animation: greyscale 2s forwards;
/* animation-delay:4s; */
}

.names {
padding-top:6px;
color:black;
letter-spacing:1px;
font-size: 50px;
color: white;
text-shadow: 4px 4px 4px rgba(50,50,50,0.75);
}

.orangename {
padding-left:65px;
float:left;
}

.bluename {
padding-right:65px;
float:right;
}

.partners {
float:right;
width:250px;
height:65px;
padding-right:10px;
background-color:black;
background-image: url(../../GFX/Partners/Ubisoft_Overlay.png);
background-size:165px 48px;
background-position: right 26% top 50%;
background-repeat:no-repeat;
animation : animpartners 12s infinite;
clip-path: polygon(26% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.malus {
	position:absolute;
	width:450px;
	padding-left:10px;
	height:65px;
	line-height:65px;
	background-color: #ebbe1a;
	color: white;
    text-shadow: 4px 4px 4px rgba(50,50,50,0.75);
	top:900px;
	font-size:45px;
	clip-path: polygon(0% 0%, 100% 0%, 83.75% 100%, 0% 100%);
	opacity:0;
	animation: whole 2s 4s forwards;
}

.streamers {
	text-align:right;
	position:absolute;
	left:1460px;
	width:450px;
	padding-right:10px;
	height:65px;
	line-height:65px;
	background-color: #ebbe1a;
	color: white;
    text-shadow: 4px 4px 4px rgba(50,50,50,0.75);
	top:660px;
	font-size:45px;
	clip-path: polygon(16.25% 0%, 100% 0%, 100% 100%, 0% 100%);
	opacity:0;
	animation:hiding 2s forwards;
	visibility:hidden;
}

.streamerslist {
	text-align:right;
	position:absolute;
	left:1460px;
	width:450px;
	line-height:60px;
	padding-right:10px;
	top:725px;
	font-size:45px;
	background-color: rgba(50,50,50,0.75);
	color: white;
    text-shadow: 4px 4px 4px rgba(50,50,50,0.75);
	opacity:0;
	animation:hiding 2s forwards;
	visibility:hidden;
}

@keyframes animpartners 
{
    0% { -webkit-filter: opacity(100%); background-image: url(../../GFX/Partners/Ubisoft_Overlay.png);}
	45% { -webkit-filter: opacity(100%); background-image: url(../../GFX/Partners/Ubisoft_Overlay.png);}
    50% { -webkit-filter: opacity(100%); background-image: url(../../GFX/Partners/CdG_Overlay.png);}
	95% { -webkit-filter: opacity(100%); background-image: url(../../GFX/Partners/CdG_Overlay.png);}
	100% { -webkit-filter: opacity(100%); background-image: url(../../GFX/Partners/Ubisoft_Overlay.png);}
}

@keyframes opacityreveal {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes opacityhide {
  0% { opacity:1; }
  100% { opacity:0; }
}

@keyframes greyscale
{
	0% { -webkit-filter: grayscale(0%);}
	100% {-webkit-filter: grayscale(100%);}
}

@keyframes whole
{
	0% { opacity:0;}
	100% { opacity:1;}
}

@keyframes banreveal
{
	0% { opacity:0;}
	50% { opacity:1; -webkit-filter: grayscale(0%);}
	100% {-webkit-filter: grayscale(100%);}
}

@keyframes banhide
{
	0% { opacity:1;-webkit-filter: grayscale(100%);}
	50% { opacity:0; -webkit-filter: grayscale(100%);}
	100% { opacity:0; -webkit-filter: grayscale(0%);}
}

@keyframes hiding {
  0% { opacity:0; }
  100% { opacity:0; }
}
