body {
	margin:0 auto;
	padding:0 auto;
	font-family:"Wood Stamp";
}

.title {
width:1920px;
height:300px;
display: grid;
grid-template-columns:2;
grid-template-rows: 3;
grid-gap: 10px;
}

.slash {
grid-column:1/3;
grid-row:3;
width:1920px;
height:200px;
background-image:url("../../GFX/Logo.png");
background-size:contain;
background-repeat: no-repeat;
background-position:center;
}
.texttitle {
  grid-column: 1/3;
  grid-row:1;
  color:white;
  width:400px;
  height:130px;
  margin:0 auto;
  margin-top:50px;
  font-size: 120px;
  background-color: #ebbe1a;
  text-align:center;
  text-shadow: 8px 8px 12px rgba(0,0,0,0.5);
}

.subtitle {
  grid-column: 1/3;
  grid-row:2;
  font-size: 50px;
  font-weight:300;
  color:#ebbe1a;
  text-align:center;
}

.partner{
	width:1920px;
	position:absolute;
	top:900px;
	display:grid;
	grid-template-columns:2;
	grid-template-rows:1;
}

.partners{
	width:auto;
	height:100px;
	margin:20px;
	background-size:contain;
	background-repeat:no-repeat;
}

.partner1{
	background-position:right;
	float:right;
	grid-column: 1;
	background-image:url("../../GFX/Partners/Ubisoft.png");
}

.partner2{
	grid-column: 2;
	background-image:url("../../GFX/Partners/CdG.png");
}

.bracketgrid {
width:1830px;
height:800px;
margin:0 auto;
margin-top:-100px;
display:grid;
grid-template-columns: 220px 10px 220px 10px 220px 10px 220px 10px 220px 10px 220px 10px 220px 10px 220px 10px 220px;
grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
grid-row-gap:10px;
align-content: center;
clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);
animation : bracketanim 3s 1.5s forwards;
}

.matchup {
	width:220px;
	height:80px;
	align-self: center;
	display:grid;
	grid-template-columns:auto 20px;
	grid-template-rows:2;
	font-size:25px;
	color:black;
	line-height:40px;
	text-align: justify;
	background: linear-gradient(180deg, rgba(235,190,26,1) 0%, rgba(235,190,26,1) 50%, rgba(204,148,4,1) 50%, rgba(204,148,4,1) 100%);
}

.matchupfinale {
	width:420px;
	height:120px;
	align-self: center;
	display:grid;
	margin-left:15px;
	grid-template-columns:auto 60px;
	grid-template-rows:2;
	font-size:44px;
	color:black;
	line-height:60px;
	text-align: justify;
	background: linear-gradient(180deg, rgba(235,190,26,1) 0%, rgba(235,190,26,1) 50%, rgba(204,148,4,1) 50%, rgba(204,148,4,1) 100%);
	grid-column:7/11;
	grid-row:6/9;
}

.namesfinale {
	border-right:3px solid #101010;
	padding-left:8px;
}

.matchupinverted {
	width:220px;
	height:80px;
	align-self: center;
	display:grid;
	grid-template-columns:20px auto;
	grid-template-rows:2;
	font-size:25px;
	color:black;
	line-height:40px;
	text-align: justify;
	background: linear-gradient(180deg, rgba(235,190,26,1) 0%, rgba(235,190,26,1) 50%, rgba(204,148,4,1) 50%, rgba(204,148,4,1) 100%);
}

.names {
	text-align:left;
	border-right:3px solid #101010;
	padding-left:5px;
}

.namesinv {
	padding-right:5px;
	text-align:right;
	border-left:3px solid #101010;
}

.scores {
text-align:center;
padding-top:2px;
}

.logos {
height:40px;
background-position:center;
background-repeat:no-repeat;
background-size:35px 35px;
}

.R16match1 {
grid-column:1;
grid-row:1;
}
.R16match2 {
grid-column:1;
grid-row:2;
}
.R16match3 {
grid-column:1;
grid-row:3;
}
.R16match4 {
grid-column:1;
grid-row:4;
}
.R16match5 {
grid-column:1;
grid-row:5;
}
.R16match6 {
grid-column:1;
grid-row:6;
}
.R16match7 {
grid-column:1;
grid-row:7;
}
.R16match8 {
grid-column:1;
grid-row:8;
}

.R16match9 {
grid-column:15;
grid-row:1;
}

.R16match10 {
grid-column:15;
grid-row:2;
}

.R16match11 {
grid-column:15;
grid-row:3;
}

.R16match12 {
grid-column:15;
grid-row:4;
}

.R16match13 {
grid-column:15;
grid-row:5;
}

.R16match14 {
grid-column:15;
grid-row:6;
}

.R16match15 {
grid-column:15;
grid-row:7;
}

.R16match16 {
grid-column:15;
grid-row:8;
}

.R8match1 {
grid-column:3;
grid-row:1/3;
}
.R8match2 {
grid-column:3;
grid-row:3/5;
}
.R8match3 {
grid-column:3;
grid-row:5/7;
}
.R8match4 {
grid-column:3;
grid-row:7/9;
}

.R8match5 {
grid-column:13;
grid-row:1/3;
}
.R8match6 {
grid-column:13;
grid-row:3/5;
}
.R8match7 {
grid-column:13;
grid-row:5/7;
}
.R8match8 {
grid-column:13;
grid-row:7/9;
}

.R4match1 {
grid-column:5;
grid-row:1/5;
}
.R4match2 {
grid-column:5;
grid-row:5/9;
}

.R4match3 {
grid-column:11;
grid-row:1/5;
}
.R4match4 {
grid-column:11;
grid-row:5/9;
}

.R2match1 {
grid-column:7;
grid-row:1/9;
}

.R2match2 {
grid-column:9;
grid-row:1/9;
}

.winnerbracket {
	height:86px;
	margin-top:40px;
	width:50%;
	border-bottom:2px solid #E0E0E0;
	border-right:2px solid #E0E0E0;
	border-top:2px solid #E0E0E0;
}

.winnerbracketright {
	height:86px;
	margin-top:40px;
	width:50%;
	float:right;
	margin-left:50%;
	border-bottom:2px solid #E0E0E0;
	border-left:2px solid #E0E0E0;
	border-top:2px solid #E0E0E0;
}

.winnerbracket2 {
	height:178px;
	margin-top:84px;
	width:50%;
	border-bottom:2px solid #E0E0E0;
	border-right:2px solid #E0E0E0;
	border-top:2px solid #E0E0E0;
}

.winnerbracket3 {
	height:356px;
	margin-top:174px;
	width:50%;
	border-bottom:2px solid #E0E0E0;
	border-right:2px solid #E0E0E0;
	border-top:2px solid #E0E0E0;
}

.winnerline {
	height:50%;
	margin-left:50%;
	float:right;
	width:50%;
	border-bottom:2px solid #E0E0E0;
}

.winnerbracket4 {
	height:178px;
	margin-top:84px;
	margin-left:50%;
	width:50%;
	border-bottom:2px solid #E0E0E0;
	border-left:2px solid #E0E0E0;
	border-top:2px solid #E0E0E0;
}

.winnerbracket5 {
	height:356px;
	margin-top:174px;
	margin-left:50%;
	width:50%;
	border-bottom:2px solid #E0E0E0;
	border-left:2px solid #E0E0E0;
	border-top:2px solid #E0E0E0;
}

.winnerlineright {
	height:50%;
	
	width:50%;
	border-bottom:2px solid #E0E0E0;
}

.line1 {
	grid-column:2;
	grid-row:1/3;
}

.line2 {
	grid-column:2;
	grid-row:3/5;
}

.line3 {
	grid-column:2;
	grid-row:5/7;
}

.line4 {
	grid-column:2;
	grid-row:7/9;
}

.line5 {
	grid-column:4;
	grid-row:1/5;
}

.line6 {
	grid-column:4;
	grid-row:5/9;
}

.line7 {
	grid-column:6;
	grid-row:1/9;
}

.line8 {
	grid-column:14;
	grid-row:1/3;
}

.line9 {
	grid-column:14;
	grid-row:3/5;
}

.line10 {
	grid-column:14;
	grid-row:5/7;
}

.line11 {
	grid-column:14;
	grid-row:7/9;
}

.line12 {
	grid-column:12;
	grid-row:1/5;
}

.line13 {
	grid-column:12;
	grid-row:5/9;
}

.line14 {
	grid-column:10;
	grid-row:1/9;
}

@keyframes bracketanim {
	0% {clip-path: polygon(50% 0%, 50% 0%, 50% 100%, 50% 100%);}
	100% {clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);}
}
