body {
  margin: 0;
  padding: 0;
  font-family: "Wood Stamp";
  color:#ebbe1a;
}

.partner{
	width:1920px;
	position:absolute;
	top:900px;
	display:grid;
	grid-template-columns:2;
	grid-template-rows:1;
}

.partners{
	width:auto;
	height:100px;
	margin:20px;
	background-size:contain;
	background-repeat:no-repeat;
}

.partner1{
	background-position:right;
	float:right;
	grid-column: 1;
	background-image:url("../../GFX/Partners/Ubisoft.png");
}

.partner2{
	grid-column: 2;
	background-image:url("../../GFX/Partners/CdG.png");
}

.presentation {
padding-top:120px;
display:grid;
grid-template-rows:5;
margin:0 auto;
}

.streamstarts {
grid-row:2;
width:500px;
height:500px;
margin:0 auto;
margin-top:-20px;
background-image:url("../../GFX/Logo.png");
background-size:contain;
background-repeat: no-repeat;
background-position:center;
}

.timer {
color:white;
grid-row:1;
width:540px;
height:140px;
line-height:120px;
padding-top:8px;
margin:0 auto;
font-size:160px;
text-align:center;
background-color:#ebbe1a;
text-shadow: 8px 8px 12px rgba(0,0,0,0.5);
}

.h1 {

}
