body {
  margin: 0;
  padding: 0;
  font-family: "Wood Stamp";
  color:#ebbe1a;
}

.presentation {
padding-top:80px;
display:grid;
grid-template-rows:5;
margin:0 auto;
}

.streamstarts {
grid-row:1;
width:600px;
height:600px;
margin:0 auto;
background-image:url("../../GFX/Logo.png");
background-size:contain;
background-repeat: no-repeat;
background-position:center;
text-align:center;
}

.greetings {
	margin-top:-50px;
	grid-row:2;
	font-size:100px;
	text-align:center;
}

.timer {
grid-row:3;
color:white;
margin:0 auto;
padding-top:6px;
font-size:75px;
text-align:center;
width:1200px;
background-color:#ebbe1a;
 text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}

.partner{
	width:1920px;
	position:absolute;
	top:900px;
	display:grid;
	grid-template-columns:2;
	grid-template-rows:1;
}

.partners{
	width:auto;
	height:100px;
	margin:20px;
	background-size:contain;
	background-repeat:no-repeat;
}

.partner1{
	background-position:right;
	float:right;
	grid-column: 1;
	background-image:url("../../GFX/Partners/Ubisoft.png");
}

.partner2{
	grid-column: 2;
	background-image:url("../../GFX/Partners/CdG.png");
}
