body {
	margin:0 auto;
	padding:0 auto;
	font-family:"Wood Stamp";
	overflow:hidden;
}

.title {
width:1920px;
height:300px;
display: grid;
grid-template-columns:2;
grid-template-rows: 3;
grid-gap: 10px;
}

.slash {
grid-column:1/3;
grid-row:3;
width:1920px;
height:200px;
background-image:url("../../GFX/Logo.png");
background-size:contain;
background-repeat: no-repeat;
background-position:center;
}
.texttitle {
	color:white;
  grid-column: 1/3;
  grid-row:1;
  width:600px;
  height:130px;
  line-height:120px;
  margin:0 auto;
  margin-top:50px;
  font-size: 120px;
  background-color: #ebbe1a;
  text-align:center;
  text-shadow: 8px 8px 12px rgba(0,0,0,0.5);
}


.subtitle {
  grid-column: 1/3;
  grid-row:2;
  font-size: 50px;
  font-weight:300;
  color:#ebbe1a;
  text-align:center;
}

.partner{
	width:1920px;
	position:absolute;
	top:900px;
	display:grid;
	grid-template-columns:2;
	grid-template-rows:1;
}

.partners{
	width:auto;
	height:100px;
	margin:20px;
	background-size:contain;
	background-repeat:no-repeat;
}

.partner1{
	background-position:right;
	float:right;
	grid-column: 1;
	background-image:url("../../GFX/Partners/Ubisoft.png");
}

.partner2{
	grid-column: 2;
	background-image:url("../../GFX/Partners/CdG.png");
}

.prematch {
  width:1400px;
  padding-top:80px;
  margin:0 auto;
  display: grid;
  grid-template-columns: 500px 400px 500px;
  grid-auto-rows: minmax(100px, auto);
}

.logoblue{
  grid-column: 1;
  grid-row:2;
  opacity:0;
}

.nameblue {
  grid-column: 1;
  grid-row:3;
  animation:namereveal 8s 2s forwards;
  opacity:0;
}

.vsanim{
  grid-column: 2;
  grid-row:2;
  margin-top:149px;
  color:#ebbe1a;
  text-align:center;
  font-size:60px;
  animation:opacityreveal 1s 4s forwards;
  opacity:0;
}

.logos {
  width:500px;
  height:350px;
  margin:0 auto;
  background-position:bottom;
  background-size:contain;
  background-repeat: no-repeat;
  animation:opacityreveal 2s 8s forwards;
}

.logoorange{
  grid-column: 3;
  grid-row:2;
  opacity:0;
  }

.names {
  height:75px;
  text-align:center;
  font-size: 65px;
  color:white;
  background-color:#ebbe1a;
  margin-top:-208px;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.5);
}

.nameorange {
  grid-column: 3;
  grid-row:3;
  animation:namereveal2 5s 5s forwards;
  opacity:0;
}

@keyframes opacityreveal {
	0% {opacity:0}
	100% {opacity:1}
}

@keyframes namereveal {
	0% {opacity:0;}
	25% {opacity:1;}
	62.5% {opacity:1;margin-top:-208px;}
	100% {opacity:1; margin-top:0px;}
}

@keyframes namereveal2 {
	0% {opacity:0;}
	40% {opacity:1; margin-top:-208px;}
	100% {opacity:1; margin-top:0px;}
}
